:root {
    --anim-overshoot: linear(0,
            0.402 7.4%,
            0.711 15.3%,
            0.929 23.7%,
            1.008 28.2%,
            1.067 33%,
            1.099 36.9%,
            1.12 41%,
            1.13 45.4%,
            1.13 50.1%,
            1.111 58.5%,
            1.019 83.2%,
            1.004 91.3%,
            1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

body {
    background-color: black;
    color: white;
}

button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}